html, body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}
@media (max-width: 1024px){
	html, body: {font-size: 35px;}
}
@media (min-width: 1025px){
	html, body: {font-size: 15px;}
}
body > div{
  flex-grow: 1;
}
.wh_100{
  width: 100%;
  height: 100%;
}
p{
  color: #9E9E9E;
}
